﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Results";
}

<h2>Results</h2>
<h4>Total time taken @Model.TotalTime.ToString("ss':'fffffff")</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <td>ID GUID</td>
            <td>Ordered ID</td>
            <td>Summed Id</td>
            <td>Step One Time taken</td>
            <td>Step Two Time taken</td>
        </tr>
    </thead>

    @for (var i = 0; i < Model.Data.Count(); i++)
    {
        <tr>
            <td>@Model.Data.ElementAt(i).Id</td>
            <td>@Model.Data.ElementAt(i).Step1Result</td>
            <td>@Model.Data.ElementAt(i).Step2Result</td>
            <td>@Model.StepOneTimeTaken[i].ToString("ss':'fffffff")</td>
            <td>@Model.StepTwoTimeTaken[i].ToString("ss':'fffffff")</td>
        </tr>
    }
</table>